In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Batsman_Data.csv")

In [3]:
df.head()

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas,49619
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas,49619
2,3,DNB,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas,49619
3,4,DNB,-,-,-,-,-,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas,49619
4,5,DNB,-,-,-,-,-,v India,Dhaka,5 Jan 2010,ODI # 2938,Oshane Thomas,49619

In [4]:
df1 = df.drop(["Unnamed: 0", "Player_ID"], axis = 1)
df1.head()

,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman
0,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas
1,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas
2,DNB,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas
3,DNB,-,-,-,-,-,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas
4,DNB,-,-,-,-,-,v India,Dhaka,5 Jan 2010,ODI # 2938,Oshane Thomas

In [5]:
df1 = df1.replace("-", 0)
df1.head()

,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman
0,DNB,0,0,0,0,0,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas
1,DNB,0,0,0,0,0,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas
2,DNB,0,0,0,0,0,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas
3,DNB,0,0,0,0,0,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas
4,DNB,0,0,0,0,0,v India,Dhaka,5 Jan 2010,ODI # 2938,Oshane Thomas

# Total number of players

In [6]:
df1["Batsman"] = df1["Batsman"].apply(lambda x: x.lower())

In [7]:
no_of_players = df1.groupby("Batsman")["Batsman"].agg("count")

In [8]:
no_of_players.shape

(149,)

# Total number of players = 149

# Total number of grounds

In [9]:
df1["Ground"] = df1["Ground"].apply(lambda x: x.lower())

In [10]:
no_of_ground = df1.groupby("Ground")["Ground"].agg("count")

In [11]:
no_of_ground.shape

(134,)

# Total number of grounds = 134

# Total Runs per player

In [12]:
df1['Runs'] = df1["Runs"].apply(pd.to_numeric)

In [13]:
players = df1.groupby('Batsman')
total_runs = players['Runs'].sum()
total_runs

Batsman
aaron finch          4052
abid ali              112
abu jayed               0
adam zampa             99
adil rashid           541
                    ...
trent boult           144
usman khawaja        1238
vijay shankar         165
virat kohli         10843
yuzvendra chahal       34
Name: Runs, Length: 149, dtype: int64

# Number of matches played per player

In [14]:
no_of_players = df1.groupby("Batsman")["Batsman"].agg("count")
no_of_players

Batsman
aaron finch         109
abid ali              3
abu jayed             2
adam zampa           44
adil rashid          88
                   ...
trent boult          79
usman khawaja        31
vijay shankar         9
virat kohli         227
yuzvendra chahal     41
Name: Batsman, Length: 149, dtype: int64

# Number of 4s per player

In [15]:
df1['4s'] = df1["4s"].apply(pd.to_numeric)
players = df1.groupby('Batsman')
total_runs = players['4s'].sum()
total_runs

Batsman
aaron finch          406
abid ali               9
abu jayed              0
adam zampa             6
adil rashid           60
                    ...
trent boult           13
usman khawaja        120
vijay shankar         14
virat kohli         1019
yuzvendra chahal       5
Name: 4s, Length: 149, dtype: int64

# Number of 6s per player

In [16]:
df1['6s'] = df1["6s"].apply(pd.to_numeric)
players = df1.groupby('Batsman')
total_runs = players['6s'].sum()
total_runs

Batsman
aaron finch          94
abid ali              0
abu jayed             0
adam zampa            1
adil rashid           6
                   ...
trent boult           6
usman khawaja        12
vijay shankar         4
virat kohli         116
yuzvendra chahal      0
Name: 6s, Length: 149, dtype: int64